* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
}
body {
  margin: 0 auto;
  width: 750px;
  color: whitesmoke;
  border-radius: 10px;
}
@media (max-width: 937px) {
  body {
    width: 80%;
  }
}
@media (max-width: 675px) {
  html {
    font-size: 9.5px;
  }
  body {
    width: 540px;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 9px;
  }
  body {
    width: 99%;
  }
}

header {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(25, 25, 50, 0.8);
}

#title {
  font-size: 3rem;
  margin-bottom: 8px;
  font-weight: 200;
}
#description {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 100;
}
form {
  display: flex;
  flex-direction: column;
  background-color: rgba(25, 25, 50, 0.75);
  border-radius: 5px;
  padding: 40px 50px;
  font-size: 1.9rem;
  line-height: 1.4;
}

input,
select {
  height: 40px;
  padding: 0 10px;
  font-size: 1.6rem;
  border-radius: 6px;
  margin-bottom: 18px;
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  height: auto;
  transform: scale(1.5);
}
#recommend-definitely,
#recommend-maybe,
#recommend-not-sure {
  margin: 0;
}
label {
  margin-bottom: 5px;
}

#stext {
  font-size: 0.8em;
}
.checkbox-container {
  display: grid;
  grid-template-columns: 55% 45%;
}
@media (max-width: 800px) {
  .checkbox-container {
    grid-template-columns: 100%;
  }
}
.checkbox-container input {
  margin: 0 3px 0 0;
}
textarea {
  height: 125px;
}
textarea::placeholder {
  padding: 8px 0 0 10px;
  font-size: 1.6rem;
}

button {
  background-color: #37af65;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  height: 50px;
}
